html {
	text-align: center;
}

#header {
	font-family: Helvetica;
	color: white;
	background-image: url(../images/the-flatiron-building.png);
}

#header h1 {
	font-size: 70px;
	font-weight: bold;
}

#header a {
	font-size: 18px;

}

#process p {
	font-family:Helvetica;
	font-size: 32px;
	font-weight: bold;
}

#subhead {
	font-family: Helvetica;
	font-size: 23px;
	font-weight: bold;
}

#text {
	font-family: Helvetica;
	font-size: 14px;
}

#subheader {
	font-family: Helvetica;
	font-size: 23px;
	font-weight: bold;
	color: white;
	background-image: url(../images/the-flatiron-building.png);
}